body{
background-color: black;
color: white;
}

.home .content{
  display: flex;
  flex-direction: row;
}

.categories{
  display: flex;
  flex-basis: 20%;
}

.videoCardList{
  display: flex;
  flex-basis: 80%;
  flex-wrap: wrap;
}

.navbar{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title{
  margin-right: auto;
}
.search{
  margin-left: auto;
}

.videoCard{
  margin:1.5%;
}

.video{
  display: flex;
  flex-direction: row;
}

.video .mainVideo {
  display: flex;
  flex-basis: 75%;
  flex-direction: column;
}

.video .videoCardList{
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}